<app-app-navbar></app-app-navbar>
<div class="wrapper">
  <div class="content py-5">
    <div class="container">
      <div class="justify-content-center">
        <div class="jumbotron">
          <!-- todo: first serve app-login, then app-home with app-navbar -->
          <!-- <app-login></app-login> -->
          <!-- <app-home></app-home> -->
          <!-- <app-single-alert></app-single-alert> -->
          <!-- <app-servicemen-dashboard></app-servicemen-dashboard> -->
          <!-- todo: usunac navbar przy logowaniu a potem go dodac -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
