<div class="container text-center py-5">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="card bg-dark w-100 rounded">
        <div class="card-body" style="color: white">
          <h3 class="card-title py-2">Panel serwisantów</h3>

          <div class="accordion text-dark" id="accordionExample">
            <div class="accordion-item" *ngFor="let serviceman of servicemen; let i = index;">
              <div>
                <h2 class="accordion-header" [id]="'heading' + i">
                  <button class="accordion-button collapsed" type="button" [attr.data-bs-toggle]="'collapse'"
                          [attr.data-bs-target]="'#collapse' + i" [attr.aria-expanded]="false" [attr.aria-controls]="'collapse' + i">
                    Serwisant #{{serviceman.id}}
                  </button>
                </h2>
                <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <table class="table table-borderless my-0 w-100">
                      <tbody>
                      <tr>
                        <td style="width: 30%;" class="text-center">
                          <div class="d-flex justify-content-center">
                            <div class="serviceman-logo rounded-circle">
                              <i class="fa-solid fa-helmet-safety fa-2xl"></i>
                            </div>
                          </div>
                          <div class="px-2">
                            <table class="table my-0 w-100">
                              <tbody>
                              <!-- <tr>
                                  <td style="width: 50%;">
                                      <b><small>Status ostatniego alertu</small></b>
                                  </td>
                                  <td style="width: 50%;">
                                      <small>W trakcie naprawy</small>
                                  </td>
                              </tr> -->
                              <tr>
                                <td style="width: 50%;">
                                  <b><small>Liczba alertów</small></b>
                                </td>
                                <td style="width: 50%;">
                                  <!-- todo: rozmiar listy alertów przypisanych do danego serwisanta -->
                                  <small>100</small>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- todo: new template and url -->
                          <a href="#" class="btn btn-dark btn-block mt-2">Historia alertów</a>
                        </td>
                        <td style="width: 70%;">
                          <table class="table table-borderless my-0 w-100">
                            <tbody>
                            <tr>
                              <td class="float-start">
                                <b>Imię</b>
                              </td>
                              <td>{{serviceman.firstName}}</td>
                            </tr>
                            <tr>
                              <td class="float-start">
                                <b>Nazwisko</b>
                              </td>
                              <td>{{serviceman.lastName}}</td>
                            </tr>
                            <tr>
                              <td class="float-start">
                                <b>E-mail</b>
                              </td>
                              <td>{{serviceman.email}}</td>
                            </tr>
                            <tr>
                              <td class="float-start">
                                <b>Numer telefonu</b>
                              </td>
                              <td>{{serviceman.phoneNumber}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <p class="card-text pt-2">tekst dolny</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
