* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

tr, td, th {
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}
thead th {
  font-weight: bold;
}

.btn {
  color: white;
  background-color: #212529;
  border: none;
}
.btn:hover {
  color: white;
  font-weight: bold;
}

