<div class="container text-center">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7">
        <section class="vh-30 gradient-custom">
          <div class="container py-5 px-0 h-100">
            <div class="col-12">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body px-5 py-0 text-center">
                  <div class="mt-md-4 pb-4">

                    <h2 class="fw-bold text-uppercase">AWARIA NR {{ alert.id }}</h2>

                    <hr>
                    <p class="text-white-50">ADRES IP URZĄDZENIA</p>
                    <p class="fw-bold text-uppercase">{{ alert.boxIp }}</p>

                    <hr>
                    <p class="text-white-50">STATUS</p>
                    <p class="fw-bold text-uppercase">{{ alert.status }}</p>

                    <hr>
                    <p class="text-white-50">OPIS AWARII</p>
                    <p class="fw-bold mb-2 text-uppercase">{{ alert.description }}</p>

                    <hr>
                    <div [ngClass]="getRowColor(alert.severity)">
                      <p class="text-50">PRIORYTET</p>
                      <p class="fw-bold text-uppercase">{{ alert.severity }}</p>
                    </div>

                    <hr>
                    <p class="text-white-50">DATA POWSTANIA AWARII</p>
                    <p class="fw-bold text-uppercase">{{ alert.timestamp }}</p>

                    <p *ngIf="!alert.userDto?.id; else asignee"></p>
                    <ng-template #asignee>
                      <hr>
                      <p class="text-white-50">PRZYPISANY DO</p>
                      <p class="fw-bold text-uppercase">{{ alert.userDto.firstName}} {{alert.userDto.lastName}}</p>
                      <hr style="border-top: 5px solid;">
                    </ng-template>
                  </div>
                </div>
                <div class="form-outline form-white mb-4 mt-0">
                  <form style="display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;">
                    <button *ngIf="alert.userDto?.id; else changeStatus" class="btn btn-dark btn-lg"
                            style="background-color: white; color: black" type="submit" (click)="assignToMe()">Przypisz do mnie</button>
                    <ng-template #changeStatus>
                      <p class="text-white">ZMIEŃ STATUS</p>
                      <select class="my-3 px-4 py-2" style="background-color: white; color: black" [(ngModel)]="selectedStatus" name="selectedStatus">
                        <option *ngFor="let item of statusEnum" [value]="item" [selected]="item === alert.status">{{ item }}</option>
                      </select>
                      <button class="btn btn-dark btn-lg my-3" style="background-color: white; color: black" type="submit" (click)="changeAlertStatus()">Potwierdź</button>
                    </ng-template>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
