<div class="container text-center">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-12">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body">
                        <div class="container px-0">
                            <div class="d-flex justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                                    <section class="vh-30 gradient-custom">
                                        <div class="container pb-1 pt-2 px-0 h-100">
                                            <div class="col-12">
                                                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                                    <div class="card-body p-3 text-center"></div>
                                                    <div class="card-body px-5 py-0 text-center form-group">
                                                        <div class="mt-md-4 pb-4">
                                                            <h2 class="fw-bold mb-2 text-uppercase">Witaj {{me}}!</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>