<table class="table table-hover">
  <thead>
  <tr class="table">
    <th scope="col">Alert</th>
    <th scope="col">Status</th>
    <th scope="col">Data</th>
    <th scope="col">Informacje</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let alert of alerts;">
    <td>{{ alert.description }}</td>
    <td>{{ alert.status }}</td>
    <td>{{ alert.timestamp }}</td>
    <td>
      <!-- todo: verify if user is logged in to see failures -->
      <!-- todo: endpoint to specific failure -->
      <a class="btn btn-secondary">Więcej</a>
    </td>
  </tr>
  </tbody>
</table>
