<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Monitoring and Notification System</a>
    <div class="collapse navbar-collapse d-flex justify-content-end px-5" id="navbarColor02">
      <div class="navbar-nav ms-auto mx-5 px-5">
        <p class="navbar-text mx-1 my-0"></p>
        <ul class="navbar-nav mx-1">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/more" role="button"
               aria-haspopup="true" aria-expanded="false">Więcej</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/me">O mnie</a>
              <a class="dropdown-item" href="/users">Serwisanci</a>
              <!-- if Admin -> add user -->
              <a class="dropdown-item" href="/register" *ngIf="isAdmin === 'true'">Dodaj nowego serwisanta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logut()" id="logout" routerLink="/logout">Wyloguj</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
