<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Monitoring and Notification System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarColor02">
      <!-- todo: verify if user is logged in -->
      <!---------------------------------if user is logged in ------------------------------------------->
      <div class="navbar-nav ms-auto mx-5 px-1">
        <p class="navbar-text mx-1 my-0"></p>
        <ul class="navbar-nav mx-1">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/my_account" role="button"
               aria-haspopup="true" aria-expanded="false">Moje konto</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="servicemen/failures">Moje awarie</a>

              <!-- todo: verify if user is admin -->
              <a class="dropdown-item" href="/user/all">Serwisanci</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Wyloguj</a>
            </div>
          </li>
        </ul>
      </div>
      <!------------------------------------------------------------------------------------------------->
    </div>
  </div>
</nav>
